<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>我的第一个html文件</title>
	<style type="text/css"></style>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style type="text/css">
		p{
			color: aqua;
		}
	</style>
</head>
<body bgcolor="pink">
	<h1 align="center">标题一</h1>
	好好学习<br/>
	（换行）天天向上<br/>

	<h2 class="h2Name" id="222">标题二</h2>
	<p>这是一段新的文字</p>

	<h3>标题三</h3>
	原文<br/>
	<b>加粗</b><br/>
	<big>大号</big><br/>
	<em>着重</em><br/>
	<i>斜体</i><br/>
	<small>小号</small><br/>
	<strong>加重语气</strong><br/>
	大家好<sub>欢迎</sub>下标<br/>
	大家好<sup>欢迎</sup>上标<br/>
	<ins>插入</ins><br/>
	<del>删除</del><br/>
	
	<h4>标题四</h4>
	<p><a href="http://www.jikexueyuan.com" target="_blank" style="color: chartreuse">极客学院</a></p>
	<a href="DSC_7973.JPG" >跳转到本地地址</a><br/>
	图片链接：<br/>
	<a href="http://www.baidu.com">
		<img src="../static/DSC_7973.JPG" width="150px" height="100px" alt="松花江上的合影">
	</a>
	<br/>
	<a href="#tips">跳转到tips</a>

	<h5>标题五</h5>
	<p>这是一条分割线</p>
	<hr>

	<table border="5" cellpadding="20" background="DSC_7973.JPG">
		<tr>
			<td>
				表格一
			</td>
			<td>
				表格二
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>
						苹果
					</li>
					<li>
						菠萝
					</li>
					<li>
						香蕉
					</li>
				</ul>
			</td>
			<td>
				我想吃了
			</td>
		</tr>
	</table>
	
	<h6>标题六</h6>
	<p>这是一张图片</p>
	<img src="../static/DSC_7973.JPG" width="300px" height="200px">
	<br/><a name="tips">tips</a>
	<br/>

	<table border="3" cellspacing="10" bgcolor="blue">
		<caption>表格标题</caption>
		<tr>
			<th>单元一</th>
			<th>单元二</th>
			<th>单元三</th>
		</tr>
		
		<thead>页眉</thead>
		<tbody>表格主体</tbody>
		<col>
		<tr>
			<td>单元格1</td>
			<td>单元格2</td>
			<td>单元格3</td>
		</tr>
		<tr>
			<td>单元格4</td>
			<td>单元格5</td>
			<td>单元格6</td>
		</tr>
		<tr>
			<td>单元格7</td>
			<td>单元格8</td>
			<td>单元格9</td>
		</tr>
		<tfoot>页脚</tfoot>
	</table>
</body>
</html>